# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Tank2.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Rider\Tank2\.idea\.idea.Tank2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
